.container {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px 16px;
}

.sous-boite{
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  overflow: hidden;

}

/*// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .boite {
    grid-template-columns: 1fr;
  }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .boite {
    grid-template-columns: 1fr 1fr;
  }
}
