.card-techno {
	text-align: center;
	padding-bottom: 14px
}

.techno-logos {
  width: 30px;
  height: 30px;
}

.techno-names {
  font-size: 16px;
}

hr {
	margin-top: 0;
	margin-bottom: 0
}

.front-back {
	margin: 14px 0
}

#technologies .row {
	margin-left: 0px;
	margin-right: 0px
}